.Game{
  text-align: center;
  input{
    width: 25px;
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
  }

  .container{
    width: 500px;
    margin: 0 auto;
  }

  .row{
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 0;
    padding: 0;
    .col{
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
    }
  }

  @media (max-width: 768px) {
    .container{
      width: 80%;
    }
    input{
      width: 18px
    }
  }
}